### Look at the data AND expected outcomes

In [ ]:
# from local file
import pandas as pd

df = pd.read_csv("../data/housing.csv")
print(df.head())
print(df.columns.str.lower().tolist())

   MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0  8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1  8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2  7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3  5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4  3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85

   Longitude  MedHouseVal
0    -122.23        4.526
1    -122.22        3.585
2    -122.24        3.521
3    -122.25        3.413
4    -122.25        3.422
['medinc', 'houseage', 'averooms', 'avebedrms', 'population', 'aveoccup', 'latitude', 'longitude', 'medhouseval']

### From SQLite DB

In [ ]:
import sqlite3, pandas as pd
with sqlite3.connect("../data/housing.db") as conn:
    cols = pd.read_sql_query("PRAGMA table_info(housing);", conn)
    print("-> Columns:")
    print(cols)

    head_df = pd.read_sql_query("SELECT * FROM housing LIMIT 10;", conn)
    print("-> First 10 rows:")
    print(head_df)

-> Columns:
   cid         name  type  notnull dflt_value  pk
0    0       MedInc  REAL        0       None   0
1    1     HouseAge  REAL        0       None   0
2    2     AveRooms  REAL        0       None   0
3    3    AveBedrms  REAL        0       None   0
4    4   Population  REAL        0       None   0
5    5     AveOccup  REAL        0       None   0
6    6     Latitude  REAL        0       None   0
7    7    Longitude  REAL        0       None   0
8    8  MedHouseVal  REAL        0       None   0

### Queries Evaluation

In [4]:
import sqlite3, pandas as pd
with sqlite3.connect("../data/housing.db") as conn:
    hist = pd.read_sql_query(
        "SELECT ts, question, sql FROM query_history ORDER BY ts DESC LIMIT 1", conn
    )
last_q, last_sql = hist.loc[0, "question"], hist.loc[0, "sql"]
print(last_q, "\n", last_sql)

df = pd.read_sql_query(last_sql, conn)
df.head()

Average house age for blocks with MedInc > 5 and Latitude > 35
 SELECT AVG(HouseAge) FROM housing WHERE MedInc > 5 AND Latitude > 35

   AVG(HouseAge)
0      26.026718